[Unit]
Description=MAG Laboratory HAL to TimeSeries Database Bridge

[Service]
User=brandon
Group=brandon
Restart=on-failure
RestartSec=30s
EnvironmentFile=/home/brandon/hal-ts-bridge/hal-ts-bridge.env
ExecStart=/home/brandon/hal-ts-bridge/hal-ts-bridge.py

[Install]
WantedBy=multi-user.target
